<web-app>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReservationServlet</servlet-name>
        <servlet-class>ReservationServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ReservationServlet</servlet-name>
        <url-pattern>/ReservationServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CancelServlet</servlet-name>
        <servlet-class>CancelServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CancelServlet</servlet-name>
        <url-pattern>/CancelServlet</url-pattern>
    </servlet-mapping>
</web-app>